/* legend {
    display: inline-block;
    padding: 30px;
    width: 50px;
    margin-left: calc(50% - 35px - 8px);
} */

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: transparent;
}

h1 {
    text-align: center;
}

.inputForm {
    text-align: left;
}

.inner {
    margin: 100px auto;
    width: 35%;
    border: 1px solid;
    padding: 15px;
    background: #e9eaef94;
    text-align: center;
    min-width: 350px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.outer::before {
    background: url('../jpg/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.nowrap {
    white-space: nowrap;
}

.cityLabel {
    letter-spacing: 1px;
}

