@media (min-width: 768px) {
    .navbar-brand
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }


body {
    font-family: 'Urbanist', sans-serif;
}

h1 {
    text-align: center;
}


.card {
    margin: 30px auto;
    padding: 50px auto;
    text-align: center;
}

img.animated-gif {
    width: 20px;
    height: 20px;
}


