{% extends "base.html" %}

{% block title %}Weather Flask Search{% endblock %}

{% block content %}

<div class="card mb-3" style="max-width: 60rem;">
    <div class="card">
        <div class="card-body">
            <form methods="POST" action="/search">
                <fieldset class="form-group">
                <legend>Search a city</legend>
                <small class="text-muted">Type a city below:</small><br>
                <input name="q" class="form-control" placeholder="Enter a city" id="city" aria-required="true"><br>
                <div class="form-group">
                <button type="submit" class="form-control form-control-lg btn btn-info">Search</button>
                </div>
                </fieldset>
        </div>
</div>

{% block scripts %}
    <!-- AJAX | Google Hosted Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Mustache -->
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0-beta.0/mustache.min.js"></script>
{% endblock scripts %}

{% endblock %}