{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                <div class="form-group">
                    <!-- Label -->
                    <!-- <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-search-location"></i> Enter a city :</h6> -->
                    {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-group">
                {{ form.submit(class=" form-control form-control-lg btn btn-primary") }}
                </div>
                </fieldset>
            </form>
        </div>
</div>

<!-- <div class="inner" id="inputForm">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
            <label for="cityLabel" class="cityLabel"><i class="fas fa-search-location"></i> Enter a city :</label>
            {% if form.city.errors %}
            {{ form.city(class="form-control form-control-lg is-invalid") }}
        </div>
        <div class="invalid-feedback">
            {% for error in form.city.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.city(class="form-control form-control-lg") }}
        {% endif %}
        </div>
        <div class="form-group">
        {{ form.submit(class=" form-control form-control-lg btn btn-primary") }}
        </div>
        </fieldset>
    </form>
</div> -->

{% raw %}
<script id="result_template" type="text/html">
    <div class="inner">
    {{ #current }}
        <h1>{{ city }}</h1>
        <p class="h5">Current Date and Time:</p>
        <p>{{ datetime }}</p>
        <i class= "icon wi wi-owm-{{ iconcode }}"></i>
        <p>{{ description }}</p>
        <p class ="h5"> {{ fahrenheit }} °Fahrenheit</p>
        <p class="h5"> {{ celsius }} °Celsius</p>

        <!-- This shows if the city has been bookmarked -->
        {{ #bookmark }}
        <form action="/remove_city" method="POST">
            <input id="city" name="city" type="text" value="{{ city }}" style="display:none">
            <button type="submit" class="btn btn-outline-info">Remove</button>
        </form>
        {{ /bookmark }}
        <!-- This shows if the city has been bookmarked -->
        {{ ^bookmark }}
         <form action="/bookmark_city" method="POST">
            <input id="city" name="city" type="text" value="{{ city }}" style="display:none">
            <button type="submit" class="btn btn-outline-info">Save</button>
        </form>
        {{ /bookmark }}
    {{ /current }}
     </div>

    <div class="forecast-container">
        <div class="row">
        {{ #forecast }}
        <div class="col-sm">
            <p class="h5">{{ datetime }}</p><br>
            <p class="h5"> {{ fahrenheit }} ° Fahrenheit</p>
            <p class="h5"> {{ celsius }} ° Celsius</p>
        </div>
        {{ /forecast }}
        </div>
    </div>
</script>
{% endraw %}


<div id="result"></div>


{% block scripts %}
    <!-- AJAX | Google Hosted Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='fetch.js') }}"></script>

    <!-- Mustache -->
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0-beta.0/mustache.min.js"></script>
{% endblock scripts %}

{% endblock %}