{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="card mb-3" style="max-width: 60rem;">
    <h3 class="card-header">{{ g.user.username}}'s Dashboard</h3>
    <div class="card-body">
        <h4 class="card-subtitle text-muted">Welcome to your city bookmarks!</h4>
        <p>Please click on a city below to see the weather forecast:</p>
    </div>
    <div class="forecast-container" style="max-width: 60rem;">
        <div class="row">
        {% if cities %}
            {% for city in cities %}
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg" style="text-transform: capitalize"><a href="/search?q={{city.name}}">{{ city.name }}</a></button>
                <p></p>
                <p><span class="badge bg-light">{{ city.description }}</span></p>
                <h2><i class= "icon wi wi-owm-{{ city.iconcode }}"></i></h2>
                <p><span class="badge bg-secondary">{{ city.fahrenheit }} °Fahrenheit</span></p>
                <p><span class="badge bg-secondary">{{ city.celsius }} °Celsius</span></p>
                <p></p>
                <p><button type="button" class="btn btn-danger btn-sm"><a href="{{ url_for('delete_city', name=city.name) }}">Remove</a></button></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        {% else %}
            <p>No Cities Saved</p>
        {% endif %}
    </div>
</div>
{% if g.user.id == user.id %}
<div class="delete_user" style="text-align: center;">

    <form method="POST" action="{{ url_for('delete_user') }}">
        <button class="btn btn-outline-secondary">Delete Account</button>
 </form>

</div>
{% endif %}





{% block scripts %}
  <!-- AJAX | Google Hosted Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='fetch.js') }}"></script>

  <!-- Mustache -->
  <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0-beta.0/mustache.min.js"></script>
{% endblock scripts %}


{% endblock %}