{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="card mb-3" style="max-width: 60rem;">
    <h3 class="card-header">User's Dashboard</h3>
    <div class="card-body">
        <h4 class="card-subtitle text-muted">City Bookmarks</h4>
    </div>
    <div class="forecast-container" style="max-width: 60rem;">
        {% if cities %}
        <div class="row">
            {% for city in cities %}
            <div class="col-sm">
                <h5>{{ city.name }}</h5>
                <h2><i class= "icon wi wi-owm-{{ city.iconcode }}"></i></h2>
                <p><span class="badge bg-light">{{ city.description }}</span></p>
                <p><span class="badge bg-secondary">{{ city.fahrenheit }} °Fahrenheit</span></p>
                <p><span class="badge bg-secondary">{{ city.celsius }} °Celsius</span></p>
                <div>
                <p><a href="{{ url_for('delete_city', name=city.name) }}">
                <button type="button" class="btn btn-danger">Remove</button>
            </a></p>
                </div>
            </div>
            {% endfor %}
        </div>
                    </div>
    {% else %}
        <p>No Cities Saved</p>
    {% endif %}
    </div>

</div>





{% block scripts %}
  <!-- AJAX | Google Hosted Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='fetch.js') }}"></script>

  <!-- Mustache -->
  <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0-beta.0/mustache.min.js"></script>
{% endblock scripts %}


{% endblock %}