{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card mb-3" style="max-width: 60rem;">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag()}}
                <fieldset>
                    <legend>Login</legend>
                    <hr>
                    <div class="form-group">
                        Enter {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control form-control-lg") }}
                    </div>

                    <div class="form-group">
                        Enter {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control form-control-lg" )}}
                    </div>
                </fieldset>
                <div class="form-group">&nbsp;
                    {{ form.submit(class="form-control form-control-lg btn btn-primary") }}
                </div><br>
                <small class="text-muted">Don't have an account? Well, <a href="{{ url_for('signup')}}">sign up here!</a></small>
            </form>
        </div>
    </div>
</div>

{% block scripts %}
<!-- AJAX | Google Hosted Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- <script src="{{ url_for('static', filename='fetch.js') }}"></script> -->

<!-- Mustache -->
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0-beta.0/mustache.min.js"></script>
{% endblock scripts %}

{% endblock %}